<h1>Hacker News!</h1>
<p>Here we have the newest 500 stories from Hacker News, 10 at a time.</p> 
<p *ngIf="!currentPageIds"><em>Loading...</em></p>

<div *ngIf="currentPageIds">
    <div *ngFor="let id of currentPageIds">
        <app-hacker-story [storyId]="id"></app-hacker-story>
    </div>


    <p>Showing {{ currentStart + 1}} - {{ currentStart + pageLength }} of {{ storyIds.length }}</p>

    <button *ngIf="currentStart > 0" class="btn btn-primary" (click)="prevPage()">Prev</button>
    <button *ngIf="storyIds.length > currentStart" class="btn btn-primary" (click)="nextPage()">Next</button>
</div>
